$primary: #9b0000;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "flex";
@import "icon";
@import "image";
@import "link";
@import "logo";
@import "navigation";
@import "card";

body {
  font-family: "Raleway", sans-serif;
}
.active {
  background-color: $primary !important;
  color: $white !important;
  @extend .rounded;
  a {
    color: $white !important;
  }
}
.bi {
  margin-right: 0.5rem;
}
.card-btn {
  width: 50%;
  transition: all 0.3s ease-in-out;
  &:hover {
    width: 100%;
    transition: all 0.1s ease-in-out;
  }
}
